* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.section {
  /* background-color: red; */
}

.container {
  /* background-color: green; */
  --variableName: 24px;
  max-width: clac(1200px + 2 * var(--variableName));
  margin-inline: auto;
  padding-inline: var(--variableName);
}

.wrapper {
  padding-block: 64px;
  /* background-color: blue; */
}

.nav {
  background-color: black;
  color: white;
  font-weight: 700;
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding-block: 12px;
    align-items: baseline;
  }
  &__menuWrapper {
    display: flex;
    gap: 24px;
    align-items: baseline;
  }
}

.button {
  width: fit-content;
  background-color: slateblue;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  text-align: center;
  &--type-text {
    background-color: unset;
    color: slateblue;
    padding-inline: 0;
  }
}
