/* * { *은 모든 요소라는 뜻
  margin: 0px;
  padding: 0px;
} >> 이렇게 하면 h1태그, 바디요소 전부다 마진 패딩이 0. */

* {
  margin: 0px;
  padding: 0px;
}

body {
  color: white;
}

.section {
  background-color: red;
}

.container {
  background-color: green;
  max-width: 1200px;
  margin-inline: auto;
  /* padding: 0 24px; */
  padding-inline: 24px;
}

.wrapper {
  padding-block: 64px;
  background-color: blue;
}
