* {
  /* 마진제로 패딩제로 넣으면 좋은 점 : 사라짐
    안 좋은 점 : 사라짐 그니까 안 넣을 거다. 
    대부분 보더-박스로 쓴다. 대부분 보더 박스가 기준이기 때문.*/
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  /* 폰트를 여기에 맥이는 게 좋음 */
  font-family: system-ui;
  font-size: 1.125rem;
  /* 읽기 위한 글자는 18pt 정도가 좋다. h2, h3도 커지는데, 얘네가 기본글자 기반으로 글자가 커지는 녀석들이라 그럼 */
  line-height: 1.5;
  /* 상황에 따라 다르다. 한글은 1.6(대문자, 소문자가 있으니까.한글은 대문자 같은 녀석들이 뺵뺶하니까) */
  margin: 0;
}

main {
  /* 어떻게 보면 컨테이너 역할 해줄수도 */
  margin-inline: auto;
  /* padding-inline: 32px;
  max-width: 60ch; */
  /* ch : 정해진 값은 아니고, 내가 고른 서체의 내가 고른 글자 사이즈를 기준으로 0이 하나 들어갈 수 있는 크기가 1ch. 
  60은 60자가 들어간다는 거다. 읽을때 60-80자가 들어가는게 읽기 편하니 70ch? 정도로 사용함. 
  작년에만 해도 쓸 수 없었다. 재밌지?ㅋㅋ ; 간단하게 적는 법 아래에 있다. */
  width: min(70ch, 100% - 2 * 32px);
  /* min 함수 : 적어도 두개의 값을 넣을 수 있음. 둘 중에 더 작은 친구를 밖으로 뱉어준다.
  뒤의 100%가 가로 넓이니까ㅡ 32픽셀 빼면 화면이 좁아졌을 떄 상황이라는 것. 70ch 보다 작아지면 저게 적용된다는? 것 같음
  잘 모르겠음 시발
  허세용 문구. */
}

/* 사진과 글자간 틈은 왜 생기는 거냐? 이미지가 인라인 요소로 설정 되어 있다. 
이미지를 일종의 텍스트 처럼 쓴느 거임. 글자의 어센더라고 하는 요소가 있지 않는지? (g)
그만큼이 벌어진거다. 더 틈세가 벌어진 이유는 인라인이니까, 디스플레이 요소를 블록으로 바꿔주면 된다. */

img,
svg,
video,
iframe {
  display: block;
  max-width: 100%;
}

/* 이미지 같은 녀석들은 사이즈가 곤조 있는 경우이니, 사이즈를 정해주자. (화질도 지킬 수 있음) */
