* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  --px: 24px;
  max-width: calc(1200px + 2 * var(--px));
  margin-inline: auto;
  padding-inline: var(--px);
}

.wrapper {
  padding-block: 32px;
}