* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  -ms-overflow-style: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.menu {
  color: white;
  padding: 16px;
  display: flex;
  background-color: #000f23;
  justify-content: space-between;
  font-family: "Song Myung", serif;
  font-size: 18px;
}
.menu .menu__hm {
  padding: 30px;
}
.menu .menu__top {
  display: flex;
  gap: 20px;
}
.menu .menu__nav {
  z-index: 3 !important;
  background-color: #000f23;
  padding: 30px;
}

.menu__dis {
  padding: 30px;
}

.text {
  font-family: "Song Myung", serif;
  color: rgb(200, 200, 200);
  text-align: center;
}

@media (max-width: 750px) {
  .menu__nav {
    display: none;
  }
}
@media (min-width: 750px) {
  .menu__dis {
    display: none;
  }
  .text {
    display: none;
  }
}
.main__page {
  background-image: linear-gradient(360deg, #d7ffec -16% -16%, #000f23 69% 69%);
}

header .title {
  padding-block: 230px;
  text-align: center;
  font-family: "Song Myung", serif;
  color: white;
  font-size: 100px;
  text-shadow: -1px 0 #7e8981, 0 1px #7e8981, 1px 0 #7e8981, 0 -1px #7e8981;
  position: relative;
  animation: fadeInUp 2s;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.backSky {
  max-width: auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

.sky {
  z-index: 1;
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveStar 240s linear infinite;
}

.sky .star {
  fill: #fff;
  stroke: none;
  stroke-width: 0;
}

@keyframes moveStar {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
img {
  display: block;
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@media (width < 37.5rem) {
  .container {
    padding-inline: 1rem;
  }
}
.wrapper {
  padding-block: 2rem;
}

#section1 {
  overflow: auto;
  display: flex;
  padding-bottom: 50px;
}
#section1 .wrapper {
  display: flex;
  gap: 1rem;
}

.card {
  z-index: 2;
  cursor: pointer;
  min-width: 18.75rem;
  max-width: 18.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  background-color: white;
  overflow: hidden;
  transition: all 500ms ease;
}
.card:hover {
  transform: translateY(-0.125rem) scale(1.01) !important;
  box-shadow: 0 0.5rem 0.75rem 0.375rem rgba(0, 0, 0, 0.15), 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3) !important;
}
.card:hover .card__img {
  filter: grayscale(0) !important;
}
.card__img {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  transition: filter 500ms ease;
}
.card__text {
  padding: 1rem;
}
.card__text h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.card__text p {
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-line-clamp: 4;
  -webkit-line-clamp: 4;
  max-height: 6rem;
}
.card__buttons {
  padding: 1rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: bold;
  background-color: rgb(92, 116, 94);
  color: rgba(255, 255, 255, 0.87);
  border-radius: 62.4375rem;
  transition: background-color 300ms ease;
}
.button:hover {
  background-color: cornflowerblue;
}